@mixin font(
  $size: 16px,
  $weight: 500,
  $color: #0a2b93,
) {
  @include fontSize($size);
  font-weight: $weight;
  color: $color;
}

@mixin fontSize($size: 20px) {
  font-size:  pxToRem($size);
}